/* ======== GLOBAL ============== */

  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;  
  }

  .navbar{
    border: 0px;
    text-align: center;
  }

  .fontclass{
    color:black;
    text-align: center;
  }
/* ======== END GLOBAL ========== */

/* ======== PAGE ONE .index ======== */

  .tapeImages {
    width: auto;
    height: auto;
    z-index: 0; 
  }

  #arrowBtnL {
    position: absolute; 
    bottom: 50%; 
    left: 2%; 
    z-index: 1; 
    background-color: white;
    color: black;
  }

  #arrowBtnR {
    position: absolute; 
    bottom: 50%; 
    z-index: 1; 
    right: 2%; 
    background-color: white;
    color: black;
  }

  .tapeSelection {
    grid-column:3/5; 
    position: relative; 
    z-index: 0; 
  }
  
  #mixBtn {
    padding: 0 50px 0 50px; 
    margin-left: 50px; 
  }

.searchPlayTitles {
  text-align: center; 
  font-family: 'Permanent Marker', cursive;
}
  
  .searchBox {
    grid-column:1/5; 
  }
  
  .searchDump {
    grid-column:1/3; 
  }
  
  .playlist {
    grid-column:3/5; 
  }
  
  .recentHeader {
    grid-column:1/-1; 
    font-family: 'Permanent Marker', cursive;
    color: #424242;
    text-align: right;
  }
  
  .recentPlaylist > .recentTapes {
    position: relative; 
    z-index: 0; 
  }
/* ======== END PAGE ONE .index ======== */

/* ======== GRID LAYOUT ================ */
  .wrapper{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:minmax(50px, auto);
    grid-gap:1em;
  }

  .wrapper > div{
    background:#eee;
    padding:10px;
  }

  .wrapper > div:nth-child(odd){
    background:#ddd;
  }

  .header {
    grid-column:1/-1;
  }

  .footer {
    grid-column:1/-1;
    color: white;
    font-family: 'Permanent Marker', cursive;
  }
  
  .mixtapeInfo {
    grid-column:1/3; 
  }
  
/* ======== END GRID LAYOUT ============ */

/* ======== FORM ============== */
  #tape-form{
    padding-top: 60px;
  }

  #form-title{
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    color: #424242; 
  }

/* ======== END FORM ========== */

/* ======== JAVASCRIPT ============ */

  .finalMixtapeImage {
    position: relative; 
    z-index: 0; 
    height: 280px; 
    width: 400px;
  }

  .mixtapeLabel {
    position: absolute; 
    z-index: 2; 
    top: 5%; 
    left: 15%; 
    font-family: 'Permanent Marker', cursive;
    color: black;
  }

  .mixtapeLabel2 {
    position: absolute; 
    z-index: 2; 
    top: 7%; 
    left: 30%; 
    text-align:center; 
    font-family: 'Permanent Marker', cursive;
    color: black;
  }

  .card-content {
    font-size: 12px; 
    line-height: 1.5em;
  }
/* ======== END JAVASCRIPT ========= */

/* ======== YOUTUBE MODAL ============ */
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 500px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/* ======== END YOUTUBE MODAL ============ */

/* ======== PAGE TWO ================ */
  .mixtapeCover {
    grid-column:1/3; 
    position: relative; 
  }

  #mixtape-container {
    text-align: center;
  }

  .userInfo {
    columns: #424242;
  }

  .finalPlaylist {
    grid-column:3/5; 
  }

  .shareTunes {
    grid-column:3/5; 
  }

  .summary {
    grid-column:1/-1; 
    white-space: pre-line;
    text-align: center; 
    margin: 0 20px;
  }

  .finalUserInfo {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
  }

  .mixButtonContainer {
    grid-column: 1/-1;
  }
/* ======== END PAGE TWO ============= */

/* ======== MEDIA QUERIES ========= */

  @media only screen and (max-width: 820px) {
    .wrapper{
      grid-template-columns: repeat(2, 1fr); 
    }

    .box {
      grid-column:1/-1;
    }

    /* .recentPlaylist {
      grid-column:1/2;
    } */
  }
/* ======== END MEDIA QUERIES ====== */